.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.vscode/
build/
coverage/
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Pods/
*.iml
*.jks
*.keystore
key.properties

